@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

main{
    width: 1320px;
    margin: auto;
}
.banar{
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    background-image:linear-gradient(#070211,#07021100), url('./images/Banner\ Image.png');
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banar_content{
    width: 632px;
    height: 246px;
    color: white;
    text-align: center;
}
.banar_content>p{
    font-size: 32px;
}
.banar_content>h1{
    margin-top: 16px;
    font-size: 72px;
    font-weight: bold;
}

/* section discount */
.discount{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount_box{
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.discount_box>h1{
    color: #FF0000;
    font-size: 72px;
    font-family: "Inter", sans-serif;
}
.discount_box>.text{
    width: 450px;
    height: 103px;
    text-align: center;

}
.text>h3{
    color: #FF0000;
    font-size: 24px;
    font-weight:500;
    font-family: "Inter", sans-serif;
}
.text>h2{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.discount_img{
    width: 802.9px;
    height: 500px;
    background-image: url('./images/New\ Year\ Photo.png');
}

/* section welcome messame */
.welcome{
    margin-top: 120px;
    width: 100%;
    height: 600px;
    background-image:linear-gradient(to right,#070211,#07021100), url('./images/Vectorrr.png');
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome_box{
    width: 1100px;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome_message{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    row-gap: 24px;
}
.welcome_message>h2{
    width: 642px;
    color: white;
    font-size: 64px;
}
.welcome_message>p{
    color: #ffffff80;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}
.welcome_message>.p{
    margin-top: 32px;
}
.welcome_message>p>a{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
}
.welcome_img{
    width: 319.83px;
    height: 464.66px;
    background-image: url('./images/Group\ 70.png');
}

/* join section */

.join{
    margin-top: 120px;
    width: 100%;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 0, 0, 10%),#fff);
    border-radius: 16px;
}
.join_box{
    width: 549px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 48px;
    align-items: center;
}
.join_text{
    font-size: 32px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: center;
    line-height: 1.5;
}
.join_span{
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
.center{
    text-align: center;
}
.join_btn{
    padding: 15px 30px;
    background-color: #FF0000;
    color: #fff;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 8px;
}
/* section coming */
.coming{
    margin-top: 120px;
    width: 100%;
    height: 463px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coming>.coming_item1{
    width: 393px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.coming_new_red{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-weight: 500;
}
.coming_soon{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    font-family: "Merriweather", serif;
    margin-bottom: 30px;
}
.coming_text{
    color: #070211;
    font-size: 20px;
    font-weight: 500;
}
.coming_item2{
    width: 463px;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming_item2>div{
    width: 100%;
    height: 100%;
    background-color: #FF0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming_item2>div>div{
    width: 92%;
    height: 92%;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming>.coming_item3{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c_t_1{
    margin-top: 35px;
    width: 278px;
    height: 170px;
}
.c_t_1_h{
    color: #FF0000;
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.c_t_1_p{
    color: #070211;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/* section sale */
.sale{
    margin-top: 120px;
    width: 100%;
    height: 986.07px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sale_header{
text-align: center;
color: rgb(7, 2, 17);
font-family: "Inter";
font-size: 24px;
font-weight: 500;
}
.sale_big_header{
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
text-align: center;
color: rgb(7, 2, 17);
}
.sale_span{
    color: rgb(255, 0, 0);
}
.sale_header_p{
    width: 1000px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}
.blanck{
    width: 100%;
    height: 662.02px;
    display: flex;
    /* justify-content: space-between; */
    align-items: end;
    background-image:url("./images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
.blanck>div{
    width: 674px;
    height: 577px;
}
.serprice{
    width: 100%;
    background-image: url('./images/Group\ 75.png');
    background-repeat: no-repeat;
    background-position: top center;
}
.circel{
    margin-top: 50px;
    width: 100%;
    background-image: url('./images/Group\ 44.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* fortfolio section */
.portfolio{
    margin-top: 120px;
    width: 100%;
    height: 1163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.portfolio_text{
    width: 60%;
    height: 239px;
}
.portfolio_items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.portfolio_items>div{
    margin: auto;
    width: 430px;
    height: 430px;
}
.items1{
    background-image: url('./images/Rectangle\ 3.png');
    background-size: cover;
    border-radius: 16px;
}
.items2{
    background-image: url('./images/Rectangle\ 4.png');
    background-size: cover;
    border-radius: 16px;
}
.items3{
    background-image:url('./images/Rectangle\ 8.png') ;
    background-size: cover;
    border-radius: 16px;
}
.items4{
    background-image:url('./images/Rectangle\ 5.png') ;
    background-size: cover;
    border-radius: 16px;
}
.items5{
    background-image: url('./images/Rectangle\ 6.png');
    background-size: cover;
    border-radius: 16px;
}
.items6{
    background-image:url('./images/Rectangle\ 7.png') ;
    background-size: cover;
    border-radius: 16px;
}

/* news */
.news{
    margin-top: 120px;
    width: 100%;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_box{
    width: 896px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.news_text_h{
    color: rgb(7, 2, 17);
font-family: "Merriweather";
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.news_text_p{
    color: rgba(7, 2, 17, 0.6);
font-family: "Inter";
font-size: 20px;
font-weight: 400;
}
.news_box>div>p{
display: inline;
/* border-radius: 50px; */
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
background: rgb(255, 255, 255);
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
padding: 25px 200px 25px 20px ;
text-align: center;
}
.news_box>div>button{
border-radius: 0px 50px 50px 0px;
background: rgb(255, 0, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
/* line-height: 24px; */
padding: 23px 35px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
border: none;
}
/* footer */
footer{
    margin-top: 120px;
    width: 100%;
    height: 609px;
    background: rgb(7, 2, 17);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_box{
    width: 1320px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address>div{
    width: 375px;
    height: 80px;
}
.address_text_h{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.address_text_c{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
display: inline;
margin-left: 3px;
}
.f_icon{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.f_icon>img{
    width: 64px;
    height: 64px;
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last>div{
    width: 375px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}